In [56]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib as mp
import os
import mysql.connector as ms
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey, func,Date
from sqlalchemy.orm import sessionmaker, relationship, Session
from sqlalchemy.ext.automap import automap_base
import sqlalchemy
from config import user,pw

In [57]:
# Check CWD
os.getcwd()

'C:\\Users\\Ryan\\OneDrive - ogg.com\\DU_class\\Career\\Charter_assessment\\jupyter'

In [58]:
# Create path
path = "../data/Bing-COVID19-Data.csv"
# Read in the file
df = pd.read_csv(path)
df

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
0,338995,01/21/2020,262,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
1,338996,01/22/2020,313,51.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
2,338997,01/23/2020,578,265.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
3,338998,01/24/2020,841,263.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
4,338999,01/25/2020,1320,479.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201586,14495254,05/14/2020,41,1.0,4.0,0.0,12.0,0.0,-19.00046,29.87184,ZW,ZWE,Zimbabwe,NaN,NaN
201587,14923810,05/15/2020,42,1.0,4.0,0.0,13.0,1.0,-19.00046,29.87184,ZW,ZWE,Zimbabwe,NaN,NaN
201588,15333080,05/16/2020,42,0.0,4.0,0.0,13.0,0.0,-19.00046,29.87184,ZW,ZWE,Zimbabwe,NaN,NaN
201589,15764106,05/17/2020,44,2.0,4.0,0.0,17.0,4.0,-19.00046,29.87184,ZW,ZWE,Zimbabwe,NaN,NaN
201590,16189241,05/18/2020,46,2.0,4.0,0.0,18.0,1.0,-19.00046,29.87184,ZW,ZWE,Zimbabwe,NaN,NaN

In [59]:
# Replacing NAN with 0 in float and integer columns and "Not Available" in object columns
df.update(df[['Deaths','Recovered','Latitude','Longitude']].fillna(0))
df.update(df[['ISO2','ISO3','AdminRegion1','AdminRegion2']].fillna("Not available"))

In [60]:
# Custom function to replace NA with adjacent column value
df['ConfirmedChange'] = df.apply(lambda row: row['Confirmed'] if np.isnan(row['ConfirmedChange'])else row['ConfirmedChange'],axis=1)
df['DeathsChange'] = df.apply(lambda row: row['Deaths'] if np.isnan(row['DeathsChange'])else row['DeathsChange'],axis=1)
df['RecoveredChange'] = df.apply(lambda row: row['Recovered'] if np.isnan(row['RecoveredChange'])else row['RecoveredChange'],axis=1)
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
0,338995,01/21/2020,262,262.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
1,338996,01/22/2020,313,51.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
2,338997,01/23/2020,578,265.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
3,338998,01/24/2020,841,263.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
4,338999,01/25/2020,1320,479.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available

In [61]:
# Check the data types
df.dtypes

ID                   int64
Updated             object
Confirmed            int64
ConfirmedChange    float64
Deaths             float64
DeathsChange       float64
Recovered          float64
RecoveredChange    float64
Latitude           float64
Longitude          float64
ISO2                object
ISO3                object
Country_Region      object
AdminRegion1        object
AdminRegion2        object
dtype: object

In [62]:
# Change updated to a date data type
df['Updated'] = pd.to_datetime(df['Updated'])
df.dtypes

ID                          int64
Updated            datetime64[ns]
Confirmed                   int64
ConfirmedChange           float64
Deaths                    float64
DeathsChange              float64
Recovered                 float64
RecoveredChange           float64
Latitude                  float64
Longitude                 float64
ISO2                       object
ISO3                       object
Country_Region             object
AdminRegion1               object
AdminRegion2               object
dtype: object

In [63]:
# Display
df.head()

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
0,338995,2020-01-21,262,262.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
1,338996,2020-01-22,313,51.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
2,338997,2020-01-23,578,265.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
3,338998,2020-01-24,841,263.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available
4,338999,2020-01-25,1320,479.0,0.0,0.0,0.0,0.0,0.0,0.0,Not available,Not available,Worldwide,Not available,Not available

In [65]:
# Export to CSV:
df.to_csv("../data/Covid-19.csv",index=False)

In [66]:
# Connect to MySQL
engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/covid")

In [67]:
# Declare Base
Base = declarative_base()

In [68]:
# Create ORMs
class Covid(Base):
    __tablename__ = 'covid'
    
    ID = Column(Integer,primary_key=True)
    Updated = Column(Date)
    Confirmed = Column(Integer)
    ConfirmedChange = Column(Integer)
    Deaths = Column(Float)
    DeathsChange = Column(Float)
    Recovered = Column(Float)
    RecoveredChange = Column(Float)
    Latitude = Column(Float)
    Longitude = Column(Float)
    ISO2 =Column(Text)
    ISO3 = Column(Text)
    Country_Region = Column(Text)
    AdminRegion1 = Column(Text)
    AdminRegion2 = Column(Text)
    
def __repr__(self):
    return f"id={self.ID}, name={self.covid}"

In [69]:
# Create tables
Base.metadata.create_all(engine)

In [70]:
# List table names
engine.table_names()

['covid']

In [71]:
# Function to add the data from a csv file
def populate_table(engine,table,csvfile):
    conn = engine.connect()
    df_to_insert = pd.read_csv(csvfile)
    data = df_to_insert.to_dict(orient='records')
    conn.execute(table.delete())
    conn.execute(table.insert(),data)

In [72]:
# Add data to the table in mysql
populate_table(engine,Covid.__table__,"../data/Covid-19.csv")

In [73]:
# Testing to see if the data has been entered correctly
engine.execute("SELECT * FROM covid LIMIT 10").fetchall()

[(19, datetime.date(2020, 3, 18), 10, 4, 0.0, 0.0, 0.0, 0.0, 29.6748, -82.3577, 'US', 'USA', 'United States', 'Florida', 'Alachua County'),
 (28, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 30.331, -82.2846, 'US', 'USA', 'United States', 'Florida', 'Baker County'),
 (37, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 30.2649, -85.6203, 'US', 'USA', 'United States', 'Florida', 'Bay County'),
 (46, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 29.95, -82.1688, 'US', 'USA', 'United States', 'Florida', 'Bradford County'),
 (73, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 30.4059, -85.1973, 'US', 'USA', 'United States', 'Florida', 'Calhoun County'),
 (82, datetime.date(2020, 3, 18), 1, 0, 0.0, 0.0, 0.0, 0.0, 26.9015, -81.9289, 'US', 'USA', 'United States', 'Florida', 'Charlotte County'),
 (118, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 30.2245, -82.6215, 'US', 'USA', 'United States', 'Florida', 'Columbia County'),
 (136, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 27.1863, -81.8095, 'US', 'USA', 'United States', 'Florida', 'DeSoto County'),
 (145, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 29.608, -83.1595, 'US', 'USA', 'United States', 'Florida', 'Dixie County'),
 (172, datetime.date(2020, 3, 18), 0, 0, 0.0, 0.0, 0.0, 0.0, 29.4614, -81.3136, 'US', 'USA', 'United States', 'Florida', 'Flagler County')]